<form #f="ngForm" (ngSubmit)="submit(f)" class="row g-3">
  <div class="col-md-4">
    <label for="name" class="form-label">Nome</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Nome"
      ngModel
      required
    />
    <p
      *ngIf="f.controls?.['name']?.touched && f.controls?.['name']?.invalid"
      class="text-danger"
    >
      <small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-md-4">
    <label for="priority" class="form-label">Priority</label>
    <select name="priority" class="form-select" required ngModel>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <p
      *ngIf="f.controls?.['priority']?.touched && f.controls?.['priority']?.invalid"
      class="text-danger"
    >
      <small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Date</label>
    <input
      type="date"
      name="start"
      class="form-control"
      placeholder="Data iniziale"
      ngModel
      required
    />
    <p
      *ngIf="f.controls?.['start']?.touched && f.controls?.['start']?.invalid"
      class="text-danger"
    >
      <small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-md-12">
    <label for="description" class="form-label">Descrizione</label>
    <textarea
      name="description"
      class="form-control"
      placeholder="Descrizione"
      ngModel
      required
      #nameField="ngModel"
    ></textarea>
    <p *ngIf="nameField.touched && nameField.invalid" class="text-danger">
      <small>Il campo è richiesto</small>
    </p>
  </div>
  <div class="col-12">
    <button
      [disabled]="f.invalid"
      type="submit"
      class="w-100 btn btn-primary btn-lg mb-5"
    >
      Crea
    </button>
  </div>
</form>
